/*
  Grapher colors
 */

.wt-grapher-color-0 {
    color: #f8b90d;
    fill: #f8b90d;
    stroke: #f8b90d;
}

.wt-grapher-color-0--text {
    fill: black;
}

.wt-grapher-color-1 {
    color: #f21f26;
    fill: #f21f26;
    stroke: #f21f26;
}

.wt-grapher-color-1--text {
    fill: white;
}

.wt-grapher-color-2 {
    color: #91c879;
    fill: #91c879;
    stroke: #91c879;
}

.wt-grapher-color-2--text {
    fill: black;
}

.wt-grapher-color-3 {
    color: #5780d4;
    fill: #5780d4;
    stroke: #5780d4;
}

.wt-grapher-color-3--text {
    fill: white;
}

.wt-grapher-color-4 {
    color: #cdeb2d;
    fill: #cdeb2d;
    stroke: #cdeb2d;
}

.wt-grapher-color-4--text {
    fill: black;
}

.wt-grapher-color-5 {
    color: #deb887;
    fill: #deb887;
    stroke: #deb887;
}

.wt-grapher-color-5--text {
    fill: black;
}

.wt-grapher-color-6 {
    color: #69e2da;
    fill: #69e2da;
    stroke: #69e2da;
}

.wt-grapher-color-6--text {
    fill: white;
}

.wt-grapher-color-7 {
    color: #012aaf;
    fill: #012aaf;
    stroke: #012aaf;
}

.wt-grapher-color-7--text {
    fill: white;
}

.wt-grapher-color-8 {
    color: #f88006;
    fill: #f88006;
    stroke: #f88006;
}

.wt-grapher-color-8--text {
    fill: white;
}

.wt-grapher-color-9 {
    color: #53e052;
    fill: #53e052;
    stroke: #53e052;
}

.wt-grapher-color-9--text {
    fill: white;
}

.wt-grapher-color-10 {
    color: #199601;
    fill: #199601;
    stroke: #199601;
}

.wt-grapher-color-10--text {
    fill: white;
}

.wt-grapher-color-11 {
    color: #ff31d5;
    fill: #ff31d5;
    stroke: #ff31d5;
}

.wt-grapher-color-11--text {
    fill: white;
}

.wt-grapher-color-12 {
    color: #bf5e70;
    fill: #bf5e70;
    stroke: #bf5e70;
}

.wt-grapher-color-12--text {
    fill: white;
}

.wt-grapher-color-13 {
    color: #84059a;
    fill: #84059a;
    stroke: #84059a;
}

.wt-grapher-color-13--text {
    fill: white;
}

.wt-grapher-color-14 {
    color: #999867;
    fill: #999867;
    stroke: #999867;
}

.wt-grapher-color-14--text {
    fill: white;
}

.wt-grapher-color-15 {
    color: #f8b90d;
    fill: #f8b90d;
    stroke: #f8b90d;
}

.wt-grapher-color-15--text {
    fill: white;
}

.wt-grapher-border-0 {
    border: 4px solid black;
}

.wt-grapher-border-1 {
    border: 4px solid #f21f26;
}

.wt-grapher-border-2 {
    border: 4px solid #91c879;
}

.wt-grapher-border-3 {
    border: 4px solid #5780d4;
}

.wt-grapher-border-4 {
    border: 4px solid #cdeb2d;
}

.wt-grapher-border-5 {
    border: 4px solid #deb887;
}

.wt-grapher-border-6 {
    border: 4px solid #69e2da;
}

.wt-grapher-border-7 {
    border: 4px solid #012aaf;
}

.wt-grapher-border-8 {
    border: 4px solid #f88006;
}

.wt-grapher-border-9 {
    border: 4px solid #53e052;
}

.wt-grapher-border-10 {
    border: 4px solid #199601;
}

.wt-grapher-border-11 {
    border: 4px solid #ff31d5;
}

.wt-grapher-border-12 {
    border: 4px solid #bf5e70;
}

.wt-grapher-border-13 {
    border: 4px solid #84059a;
}

.wt-grapher-border-14 {
    border: 4px solid #999867;
}

.wt-grapher-border-15 {
    border: 4px solid #f8b90d;
}
