<div style="width:100%">
    <div id="{{$control->property->id}}" name="{{$control->property->name}}" style="min-height:{{$control->style->height}}">
        {{$control->property->value|noescape}}
    </div>
    <input type="hidden" id="{{$control->id}}_html" name="{{$control->id}}_html" />
</div>
<script>
    $(function () {
        // copia o HTML do editor para um campo hidden, que é submetido junto com os demais dados do formulário
        {{$control->id|noescape}}_submit = function() {
            console.log('on editor submit');
            var hidden_input = $('#{{$control->id|noescape}}_html');
            var html_content = $({{$control->jId}}).html();
            hidden_input.val( html_content );
            return true;
        };

        $({{$control->jId}}).trumbowyg();
    });
</script>