# Project
PROJECT_NAME=fnbr-webtool-37

# Apache2
DOCUMENT_ROOT=.
APACHE_VHOSTS_DIR=./docker/config/vhosts
APACHE_LOG_DIR=./docker/logs/apache2
WWW_PORT=8001

# PHP
PHP_INI=./docker/config/php/php.ini

# Options
HTTP=http #or https
PAGE_TITLE='Webtool 3.7.2'
MAIN_TITLE='Webtool 3.7.2'

# Trace
TRACE_LEVEL=0
TRACE_PORT=0
TRACE_HOST=host.docker.internal

# Database webtool
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
