<script type="text/javascript">
    $(function () {
        annotation.clock = {
            min: {{$data->sessionTimeout|noescape}},
            sec: 0
        }
        /*
        $.messager.show({
            title:'Save Annotation Sets',
            msg:'Annotation Sets saved successfully!',
            timeout:2000,
            showType:'fade',
            style:{
                left:'',
                right:0,
                bottom:''
            }
        });
        */
    });
</script>
