<div id="constraintPane">
    <div id="constraintTools" class="dialog-toolbar" style="border-top-width: 0px; top: 0px; width: 100%;">
        <a id="btnClose" href="#" class="easyui-linkbutton">Close</a>
        <a id="btnReload" href="#" class="easyui-linkbutton">Reload</a>
    </div>
    <div id="constraintLayout1" style="width:100%;height:100%;">
        <div id="constraintLeftPane" region="west" split="true" style="width:300px; height: 100%">
            <ul id="cxnConstraintTree"></ul>
        </div>
        <div id="constraintCenterPane" region="center" style="height: 100%">
            <div id="constraintTabs">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {

        structure.idCxn = {{$data->idConstruction}};

        $('#constraintPane').panel({
            fit: true,
            title: {{$data->title}},
            closable: false
        });

        $('#constraintLayout1').layout({
            fit: true
        });

        $('#btnClose').linkbutton({
            iconCls: 'icon-cancel',
            plain: true,
            onClick: function() {
                $('#constraintPane').html('');
            }
        });

        $('#btnReload').linkbutton({
            iconCls: 'icon-reload',
            plain: true,
            onClick: function() {

            }
        });

        $('#constraintTabs').tabs({
            fit:true,
            border:false,
            plain: false,
            tabPosition: 'left',
            onSelect:function(title){
            }
        });

        $('#constraintTabs').tabs('add',{
            title:'New Tab',
            content:'Tab Body',
            closable:false
        });

        $('#cxnConstraintTree').tree({
            url: {{$manager->getURL('structure/cxn/cxnConstraintTree')}} + '/' + structure.idCxn,
            onSelect: function (node) {
                structure.showConstraint(structure.idCxn);
            }
        });

    });
</script>
