.link {
    fill: none;
    /*stroke: #666;*/
    stroke-width: 1.5px;
}

.linkOver {
    stroke-width: 2.5px;
}

#licensing {
    fill: green;
}

.link.licensing {
    stroke: green;
}

.link.resolved {
    stroke-dasharray: 0,2 1;
}

text {
    font: 10px sans-serif;
    font-weight: bold;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    color: black;
}

.nodeSelected {
    stroke: black;
    stroke-width: 1px;
}

.nodeNormal {
    stroke: #CCC;
    stroke-width: 1px;
}

.entity_cx {
    fill: #008000;
    color: #008000;
}

.entity_fr {
    fill: #D80000;
    color: #D80000;
}

.entity_st {
    fill: black;
}

.entity_fe {
    fill: white;
    stroke: black;
}

.entity_ce {
    fill: white;
    stroke: black;
}

.datagrid-row-selected {
    background: white;
    color: #000000;
}    
{{foreach $data->relationData as $relation}}
.{{$relation['id']}} {
    stroke: {{$relation['color']|noescape}};
}
marker path.{{$relation['id']}} {
    fill: {{$relation['color']|noescape}};
}
{{/foreach}}

