<div id="structureLayout" style="width:100%;height:100%;">
    <div id="structureNorthPane" data-options="collapsible:false, region:'north', title:'{{_'Constructions'}}'" style="height:70px">
        <div style="float:left;padding:5px">
            <input id="idDomain" name="domain" placeholder="{{_'Domain'}}">
        </div>
        <div style="float:left;padding:5px">
            <input id="cxn" name="cxn" type="text" style="width:200px; padding:5px" placeholder="{{_'Search CxN'}}">
        </div>
        <div style="float:left;padding:5px">
            <input id="ce" name="ce" type="text" style="width:200px; padding:5px" placeholder="{{_'Search CE'}}">
        </div>
        <div style="float:left;padding:5px">
            Only Active:
            <input id="active" name ="active" style="width:200px;height:30px">
        </div>
    </div>
    <div id="structureLeftPane" region="west" split="true" style="height: 100%; width:350px">
        <ul id="cxnTree"></ul>
    </div>
    <div id="structureCenterPane" region="center" style="height: 100%">
        
    </div>
</div>
<div id="menuRootCxns" style="display:none, width:120px;">
    <div onclick="structure.reloadCxn()" data-options="iconCls:'icon-reload'">{{_'Reload Cxns'}}</div>
    <div onclick="structure.newCxn()" data-options="iconCls:'icon-add'">{{_'New Cxn'}}</div>
</div>
<div id="menuCxn" style="display:none, width:120px;">
    <div onclick="structure.editCxn()" data-options="iconCls:'icon-edit'">{{_'Edit Cxn'}}</div>
    <div onclick="structure.editEntry()" data-options="iconCls:'icon-edit'">{{_'Edit Entries'}}</div>
    <div onclick="structure.deleteCxn()" data-options="iconCls:'icon-remove'">{{_'Delete Cxn'}}</div>
    <div onclick="structure.newCxnElement()" data-options="iconCls:'icon-add'">{{_'New CxnElement'}}</div>
    <div onclick="structure.addConstraint()" data-options="iconCls:'icon-add'">{{_'Add Constraint'}}</div>
    <div onclick="structure.cxnDomain()" data-options="iconCls:'icon-edit'">{{_'Domains'}}</div>
    <div onclick="structure.reloadCurrentCxn()" data-options="iconCls:'icon-reload'">{{_'Reload'}}</div>
    <div onclick="structure.importTxt()" data-options="iconCls:'icon-add'">{{_'Import Txt'}}</div>
    <div onclick="structure.viewGraph()" data-options="iconCls:'icon-more'">{{_'View Graph'}}</div>
</div>
<div id="menuCxnElement" style="display:none, width:120px;">
    <div onclick="structure.editCxnElement()" data-options="iconCls:'icon-edit'">{{_'Edit CxnElement'}}</div>
    <div onclick="structure.editEntry()" data-options="iconCls:'icon-edit'">{{_'Edit Entries'}}</div>
    <div onclick="structure.deleteCxnElement()" data-options="iconCls:'icon-remove'">{{_'Delete CxnElement'}}</div>
    <div onclick="structure.addConstraint()" data-options="iconCls:'icon-add'">{{_'Add Constraint'}}</div>
</div>
<div id="menuCxnConstraint" style="display:none, width:120px;">
    <div onclick="structure.addConstraint()" data-options="iconCls:'icon-add'">{{_'Add Constraint'}}</div>
    <div onclick="structure.deleteConstraint()" data-options="iconCls:'icon-remove'">{{_'Delete Constraint'}}</div>
</div>
<div id="menuCxnDelConstraint" style="display:none, width:120px;">
    <div onclick="structure.deleteConstraint()" data-options="iconCls:'icon-remove'">{{_'Delete Constraint'}}</div>
</div>
<div id="menuCxnDelRelation" style="display:none, width:120px;">
    <div onclick="structure.deleteRelation()" data-options="iconCls:'icon-remove'">{{_'Delete Relation'}}</div>
</div>


<style>
    /****
    Flags by language name (description on table Language)
     */
    .fnbrFlagPortuguese {
        width:16px;
        height:16px;
        background: url({{$manager->getStaticURL($manager->getApp(), 'images/pt.svg')|noescape}}) no-repeat center center;
        background-size: 16px 16px;
    }

    .fnbrFlagEnglish {
        width:16px;
        height:16px;
        background: url({{$manager->getStaticURL($manager->getApp(), 'images/en.svg')|noescape}}) no-repeat center center;
        background-size: 16px 16px;
    }

    .fnbrFlagSwedish {
        width:16px;
        height:16px;
        background: url({{$manager->getStaticURL($manager->getApp(), 'images/se.svg')|noescape}}) no-repeat center center;
        background-size: 16px 16px;
    }
</style>

<script type="text/javascript">
    var structure = {
        app: {{$manager->getApp()}},
        isMaster: {{$data->isMaster|noescape}},
        nodeSelected: null,
        nodeSelectedParent: null,
        node: null
    };
    $(function () {
        $('#structureLayout').layout({
            fit:true
        });

        structure.showCxn = function (idCxn) {
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('report/cxn/showCxn')}} + '/' + idCxn, 'structureCenterPane');
        }

        structure.newCxn = function () {
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formNewCxn')}},'structureCenterPane');
        }

        structure.editCxn = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formUpdateCxn')}} + '/' + id,'structureCenterPane');
        }
        
        structure.deleteCxn = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formDeleteCxn')}} + '/' + id,'structureCenterPane');
        }

        structure.reloadCxn = function () {
            $('#structureCenterPane').html('');
            var node = $('#cxnTree').tree('getSelected');
            if (node) {
                if (node.id == 'root') {
                    $('#cxnTree').tree({queryParams: {cxn: ''}});
                } else {
                    $('#cxnTree').tree('reload', node.target);
                }
            }
        }

        structure.reloadCxnParent = function () {
            $('#structureCenterPane').html('');
            console.log(structure.nodeSelected);
            if (structure.nodeSelected == null) {
                var node = $('#cxnTree').tree('getSelected');
                structure.nodeSelected = node;
                structure.nodeSelectedParent = $('#cxnTree').tree('getParent', node.target);
            }
            console.log(structure.nodeSelectedParent);
            if (structure.nodeSelectedParent) {
                $('#cxnTree').tree('reload', structure.nodeSelectedParent.target);
            }
        }

        structure.reloadCurrentCxn = function () {
            var node = $('#cxnTree').tree('getSelected');
            if (node) {
                if (node.id == 'root') {
                    $('#cxnTree').tree({queryParams: {cxn: ''}});
                } else {
                    $('#cxnTree').tree('reload', node.target);
                }
            }
        }

        structure.editEntry = function (entry, form) {
            if ($.type(entry) === "undefined") {
                entry = structure.node.entry;
            }
            manager.doAction('^' + structure.app + '/structure/entry/formUpdate/' + entry);
            if (form) {
                $('#' + form + '_dialog').dialog('close');
            }
        }

        structure.newCxnElement = function (idCxn) {
            if ($.type(idCxn) === "undefined") {
                idCxn = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formNewCxnElement')}} + '/' + idCxn,'structureCenterPane');
        }

        structure.editCxnElement = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formUpdateCxnElement')}} + '/' + id,'structureCenterPane');
        }

        structure.deleteCxnElement = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formDeleteCxnElement')}} + '/' + id,'structureCenterPane');
        }

        structure.importTxt = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formImportTxt')}} + '/' + id,'structureCenterPane');
        }

        structure.viewGraph = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/graphCxn')}} + '/' + id,'structureCenterPane');
        }

        structure.addConstraint = function (id) {
            console.log(structure.nodeSelected);
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            if (structure.node.id.charAt(0) == 'c') {
                manager.doGet({{$manager->getURL('structure/cxn/formAddConstraintCX')}} + '/' + id,'structureCenterPane');
            }
            if (structure.node.id.charAt(0) == 'e') {
                manager.doGet({{$manager->getURL('structure/cxn/formAddConstraintCE')}} + '/' + id,'structureCenterPane');
            }
            if (structure.node.id.charAt(0) == 'x') {
                manager.doGet({{$manager->getURL('structure/cxn/formAddConstraintCN')}} + '/' + id,'structureCenterPane');
            }
        }

        structure.constraints = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formConstraint')}} + '/' + id,'structureCenterPane');
        }

        structure.deleteConstraint = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formDeleteConstraint')}} + '/' + id,'structureCenterPane');
        }

        structure.cxnDomain = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formCxnDomain')}} + '/' + id,'structureCenterPane');
        }

        structure.deleteRelation = function (id) {
            if ($.type(id) === "undefined") {
                id = structure.node.id.substr(1);
            }
            $('#structureCenterPane').html('');
            manager.doGet({{$manager->getURL('structure/cxn/formDeleteRelation')}} + '/' + id,'structureCenterPane');
        }


        structure.contextMenuFrame = function(e, node) {
            if (!structure.isMaster) {
                return;
            }
            e.preventDefault();
            console.log(node);
            structure.node = node;
            var $menu = '';
            $(this).tree('select',node.target);
            if (node.id == 'root') {
                $menu = $('#menuRootCxns');
            } else if (node.id.charAt(0) == 'c') {
                $menu = $('#menuCxn');
            } else if (node.id.charAt(0) == 'e') {
                $menu = $('#menuCxnElement');
            } else if (node.id.charAt(0) == 'x') {
                $menu = $('#menuCxnConstraint');
            } else if (node.id.charAt(0) == 'n') {
                $menu = $('#menuCxnDelConstraint');
            } else if ((node.id.charAt(0) == 'h') || (node.id.charAt(0) == 'v')) {
                $menu = $('#menuCxnDelRelation');
            }
            if ($menu != '') {
                $menu.menu('show',{
                    left: e.pageX,
                    top: e.pageY
                });
            }
        }

        $('#menuRootCxns').menu({});
        $('#menuCxn').menu({});
        $('#menuCxnElement').menu({});
        $('#menuCxnConstraint').menu({});
        $('#menuCxnDelConstraint').menu({});
        $('#menuCxnDelRelation').menu({});

        $('#ce').textbox({
            buttonIcon: 'icon-search',
            iconAlign:'right',
            prompt: {{_'Search CE'}},
            onClickButton: function() {
                $('#cxnTree').tree({queryParams: {ce: $('#ce').textbox('getValue')}});
            }
        });
        $('#cxn').textbox({
            buttonIcon: 'icon-search',
            iconAlign:'right',
            prompt: {{_'Search Cxn'}},
            onClickButton: function() {
                $('#cxnTree').tree({queryParams: {cxn: $('#cxn').textbox('getValue')}});
            }
        });
        $('#active').switchbutton({
                checked: false,
                onText:'Yes',
                offText:'No',
                height: 20,
                width: 50,
                onChange: function(checked){
                    $('#cxnTree').tree({
                        queryParams: {
                            cxn: $('#cxn').textbox('getValue'),
                            ce: $('#ce').textbox('getValue'),
                            active: (checked ? '1' : '0')
                        }
                    });
                }
        })

        $('#idDomain').combobox({
            data: JSON.parse({{$data->domain}}),
            prompt: {{_'Select Domain'}},
            valueField:'idDomain',
            textField:'name',
            onSelect: function() {
                $('#cxnTree').tree({queryParams: {idDomain: $('#idDomain').combobox('getValue')}});
            },
            onChange: function() {
                $('#cxnTree').tree({queryParams: {idDomain: $('#idDomain').combobox('getValue')}});
            }
        });

        $('#cxnTree').tree({
            url: {{$manager->getURL('structure/cxn/cxnTree')}},
            onClick: function (node) {
                console.log(node);
                if (node.id.charAt(0) == 'c') {
                    structure.showCxn(node.id.substr(1));
                }
            },
            onContextMenu: structure.contextMenuFrame
        });
    });
</script>
