<style>
.link {
    fill: none;
    /*stroke: #666;*/
    stroke-width: 1.5px;
}

.linkOver {
    stroke-width: 2.5px;
}

#licensing {
    fill: green;
}

.link.licensing {
    stroke: green;
}

.link.resolved {
    stroke-dasharray: 0,2 1;
}

text {
    font: 10px sans-serif;
    font-weight: bold;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    color: black;
}

.nodeSelected {
    stroke: black;
    stroke-width: 1px;
}

.nodeNormal {
    stroke: #CCC;
    stroke-width: 1px;
}

.entity_cxn {
    fill: #008000;
    color: #008000;
}

.entity_frame {
    fill: #D80000;
    color: #D80000;
}

.entity_st {
    color: gray;
    fill: gray;
}

.entity_fe {
    color: white;
    fill: white;
    stroke: black;
}

.entity_ce {
    color: white;
    fill: white;
    stroke: black;
}

.entity_lu {
    color: gray;
    fill: gray;
    stroke: black;
}

.entity_concept {
    color: #003547;
    fill: #003547;;
    stroke: black;
}

.entity_conceptcxn {
    color: #003547;
    fill: #003547;;
    stroke: black;
}

.entity_conceptstr {
    color: #2B8DFC;
    fill: #2B8DFC;
    stroke: black;
}

.entity_conceptsem {
    stroke: black;
    color: #E1523D;
    fill: #E1523D;
}

.entity_conceptinf {
    color: #C2BB00;
    fill: #C2BB00;
    stroke: black;
}


.datagrid-row-selected {
    background: white;
    color: #000000;
}    
{{foreach $data->relationData as $relation}}
.{{$relation['id']}} {
    stroke: {{$relation['color']|noescape}};
}
marker path.{{$relation['id']}} {
    fill: {{$relation['color']|noescape}};
}
{{/foreach}}

</style>