/*
Arquivo: layout.css
Autor: Ely Matos
Descrição: 
    Tema para a app FnBr20.
    Define os estilos para a estrutura da página.
Version: 2.0
Licença: GNU General Public License
Licença URI: license.txt
*/

html {
    height: 100%;
}

* {
    /*font-size: 12px;*/
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /*font-family:verdana,helvetica,arial,sans-serif;*/
    /*font-family: open_sansregular;*/
    /*	font-family: tahoma;*/
    /*font-size: 12px;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'IBM Plex Sans';
}

label {
    font-weight: normal;
}

/*
#appContainer {
    height: 100%;
    width: 100%;
}

#mainPane {
    height: 100%;
}

#centerPane {
    padding:  10px;
}

#topPane {
    height: 30px;
    height: 96%;
}
*/

#menuPane {
    width: 65%;
    float: left;
}

#userPane {
    width: 35%;
    text-align: right;
    padding-right: 5px;
    float: right;
    vertical-align: center;
}

#loader {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 999;
    vertical-align: middle;
}

#loaderInner {
    padding: 5px;
    position: relative;
    left: 0;
    top: 0;
    width: 175px;
    background: #3c3;
    color: #fff;
}

.absoluteCenter {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*
.form-horizontal {
    padding: 0px 0px 0px 0px;
}

.form-horizontal .control-label {
    padding-top: 3px;
}
.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}
.form-vertical .form-group {
    margin-left: 15px;
}
*/

.mform-outer {
    padding: 15px 0px 0px 0px;
}

.mform-label {
    display: block;
    margin-bottom: 0px;
}

.mform-control {
    display: block;
}

.mform-buttons {
    background-color: #f7f7f9;
    border-top: 1px solid #e1e1e8;
    text-align: right;
    padding: 5px;
}

.mform-button {
    min-width: 80px;
}

/*
 Annotation
 
 */
.l-btn-icon {
    font-size: 12px;
}

#annoLayout {
    height: 100%;
    width: 100%;
}

#annoLeftPane {
    height: 100%;
    width: 250px;
}

#annoCenterPane {
    padding: 5px;
}

#layersPane {
    /* margin-top:  5px;*/
    font-family: 'oxygen_monoregular';
}

#layersPane > .datagrid-row-selected,
#layersPane > .datagrid-row-checked {
    background-color: transparent;
}

.layerSelected {
    background-color: transparent;
}

.layerTarget {
    background-color: #e1e1e8;
}

.divNI {
    float: left;
    width: 30px;
    height: 24px;
    padding: 2px;
}

.cellSelected {
    background-color: #CCC;
}

.cellSelected div {
    background-color: #CCC;
    color: black;
}

.divLabelMenu {
    max-height: 200px;
    overflow-y: scroll;
}

.combobox-item-hover {
    cursor: pointer;
}

/*
 Structure
 
 */
#structureLayout {
    height: 100%;
    width: 100%;
}

#structureLeftPane {
    height: 100%;
    width: 300px;
}

#structureCenterPane {
    padding: 5px;
}

.mtreeIcon {
    background-color: white;
}

/*
 Report
 */
#reportLayout {
    height: 100%;
    width: 100%;
}

#reportLeftPane {
    height: 100%;
    width: 300px;
}

#reportCenterPane {
    padding: 5px;
}

.mtreeIcon {
    background-color: white;
}

.reportFrame {

}

.reportFrame .frameName {
    font-size: 20px;
    font-weight: bold;
}

.reportFrame .divPanel {
    margin-top: 5px;
    margin-bottom: 5px;
}

.reportFrame .divPanel .text {
    padding: 5px;
}

.reportFrame .divPanel .header {
    padding: 5px;
    font-weight: bold;
}

.reportFrame .divPanel .frameElement {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 5px;
}

.reportFrame .divPanel .tableRelations {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 5px;
}

.reportFrame .divPanel .tableLU {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 5px;
}

.reportLU {

}

.reportLU .luName {
    font-size: 20px;
    font-weight: bold;
}

.reportLU .frameName {
    font-size: 14px;
    font-weight: bold;
}

.reportLU .divPanel {
    margin-top: 5px;
    margin-bottom: 5px;
}

.reportLU .divPanel .text {
    padding: 5px;
}

.reportLU .divPanel .header {
    padding: 5px;
    font-weight: bold;
}

.reportLU .divPanel .tableRealizations {
    border-collapse: collapse;
    border-spacing: 5px;
    margin: 5px;
    border: 1px solid #ddd;
}

.reportLU .divPanel .tableRealizations tbody tr th {
    background-color: #8d8d8d;
    color: white;
    padding: 5px;
}

.reportLU .divPanel .tableRealizations tbody tr td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.reportLU .divPanel .tableRealizations tr:nth-child(even) {
    background-color: #f2f2f2
}

.reportLU .divPanel .tableVP {
    border-collapse: collapse;
    border-spacing: 5px;
    margin: 5px;
    border: 1px solid #ddd;
}

.reportLU .divPanel .tableVP  tbody tr th {
    background-color: #8d8d8d;
    color: white;
    padding: 5px;
}

.reportLU .divPanel .tableVP  tbody tr td  {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.reportLU .divPanel .tableVP .pattern {
    background-color: #f2f2f2;
}

#reportLUCenterPane {
    padding: 5px;
}

#reportLUSouthPane {
    padding: 5px;
}

.reportCxn {

}

.reportCxn .cxnName {
    font-size: 20px;
    font-weight: bold;
}

.reportCxn .divPanel {
    margin-top: 5px;
    margin-bottom: 5px;
}

.reportCxn .divPanel .text {
    padding: 5px;
}

.reportCxn .divPanel .cxnElement {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 5px;
}

.reportCxn .divPanel .tableRelations {
    border-collapse: separate;
    border-spacing: 5px;
    margin: 5px;
}

/*
 Visual Editor
 */
#editorLayout {
    height: 100%;
    width: 100%;
}

#editorLeftPane {
    height: 100%;
    width: 300px;
}

#editorCenterPane {
    padding: 5px;
}

/*
 Grapher
 */
#grapherLayout {
    height: 100%;
    width: 100%;
}

#grapherLeftPane {
    height: 100%;
    width: 300px;
}

#grapherCenterPane {
    padding: 5px;
}


