<script src={{$manager->getStaticURL($manager->getApp(), 'scripts/auth0/lock.min.js')}}></script>

<script>
  var AUTH0_CLIENT_ID = {{$data->client_id}};
  var AUTH0_DOMAIN = {{$data->domain}};
  var AUTH0_CALLBACK_URL = {{$data->redirect_uri}};

  $(document).ready(function() {
      var lock = new Auth0Lock(AUTH0_CLIENT_ID, AUTH0_DOMAIN, { auth: {
          redirectUrl: AUTH0_CALLBACK_URL
          , responseType: 'code'
          , params: {
              scope: 'openid'
          }
      }});

      $('.btn-login').click(function(e) {
          e.preventDefault();
          lock.show();
      });

      $('.btn-logout').click(function(e) {
          e.preventDefault();
          window.location={{$manager->getAppURL($manager->getApp(),'auth/login/logout')}};
      });
  });
</script>

<style>
    div.containerLogin {
        height: 100%;
    }
    div.containerLogin > .login-page {
        margin: 0;
        background: white;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        margin-bottom: -50%;
        transform: translate(-50%, -50%)
    }
    .btn {
        font-size: 140%;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 0;
        background-color: #6d8daa;
        color: white;
    }
    .btn:hover {
        background-color: #5fb6ff;
    }
    .btn:focus {
        outline: none !important;
    }
    .btn.btn-lg {
        /*padding: 20px 30px;*/
    }
    .btn:disabled {
        background-color: #333;
        color: #666;
    }
</style>


<div class="containerLogin">
    <div class="login-page">
      <div class="login-box auth0-box before">
            <img src = {{$manager->getStaticURL($manager->getApp(),'images/mlfn_logo.jpg')}} style="margin:8px" />
            <a class="btn btn-primary btn-lg btn-login btn-block">Sign In</a>
      </div>
    </div>
</div>
