<div id="annoLayout" style="width:100%;height:100%;">
    <div id="annoLeftPane" region="west" split="true" title="Static Mode" style="height: 100%;width:300px">
        <div style="padding:5px">
            <input id="corpus" name="corpus" type="text" style="width:280px; padding:5px" placeholder="Search Corpus">
        </div>
        <!--
        <div style="padding:5px">
            <input id="idSentence" name="idSentence" type="text" style="width:280px; padding:5px" placeholder="#idSentenceMM">
        </div>
        -->
        <ul id="multimodalTree"></ul>
    </div>
    <div id="annoCenterPane" region="center" title="Static Mode Annotation" style="height: 100%">
        <div class="easyui-layout" style="width:100%;height:100%;">
            <div id="sentencesPane" region="center" style="width:100%;height:100%"   split="true" data-options="border:1"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var annotation = {
        type: 'm',
        isMaster: {{$data->isMaster|noescape}},
        isSenior: {{$data->isSenior|noescape}},
        rgbColors: {{$data->colors|noescape}},
        layerType: {{$data->layerType|noescape}},
        instantiationType: {{$data->instantiationType|noescape}},
        instantiationTypeObj: {{$data->instantiationTypeObj|noescape}}
    };

    annotation.showDocument = function (nodeDocument) {
        $('#sentencesPane').html('');
        manager.doGet({{$manager->getURL('annotation/static/sentencesFlickr30k')}} + '/' + nodeDocument.id,'sentencesPane');
    }

    $(function () {

        $('#annoLayout').layout({
            fit:true
        });
        
        $('#corpus').textbox({
            buttonText:{{_'Search Corpus'}},
            //iconCls:'icon-search',
            iconAlign:'right',
            prompt: {{_'Search Corpus'}},
            onClickButton: function() {
                $('#corpusTree').tree({queryParams: {corpus: $('#corpus').textbox('getValue')}});
            }
        });

        $('#idSentence').textbox({
            buttonText:{{_'Annotate Sentence'}},
            //iconCls:'icon-search',
            iconAlign:'right',
            prompt: '#idSentenceMM',
            onClickButton: function() {
                var idSentence = $('#idSentence').textbox('getValue');
                window.open({{$manager->getURL('annotation/static/annotationImage')}} + '/' + idSentence + '/0/' + annotation.type, '_blank');
            }
        });

        $('#multimodalTree').tree({
            url: {{$manager->getURL('annotation/static/multimodalImageTree')}},
            onSelect: function (node) {
                console.log(node);
                if (node.id.charAt(0) == 'd') {
                    annotation.showDocument(node);
                }
            }
        });
    });
</script>
