.wt-tree-icon {
    background: url(/images/blank.gif) no-repeat center center;
    height: 16px;
    width: 16px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.wt-datagrid-icon {
    background: url(/images/blank.gif) no-repeat center center;
    height: 16px;
    width: 16px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    padding: 2px;
}

.wt-messager-icon {
    background: url(/images/blank.gif) no-repeat center center;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    padding-top: 0.75rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.wt-input-icon {
    background: url(/images/blank.gif) no-repeat center center;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    padding-top: 9px;
    padding-right: 0rem;
}

.wt-grapher-icon {
    background: url(/images/blank.gif) no-repeat center center;
    height: 12px;
    width: 12px;
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
}

.wt-button-icon {
    font-size: 16px;
}

.wt-anno-icon {
    font-size: 16px;
    cursor: pointer;
}
