


.wt-icon-domain {
    color: $wt-domain-color;

    &:after {
        content: $wt-domain-icon;
    }
}


.wt-icon-relation {
    color: $wt-relation-color;

    &:after {
        content: $wt-relation-icon;
    }
}


.wt-icon-frame {
    color: $wt-frame-color;

    &:after {
        content: $wt-frame-icon;
    }
}


.wt-icon-admin {
    color: $wt-admin-color;

    &:after {
        content: $wt-admin-icon;
    }
}


.wt-icon-cxn {
    color: $wt-cxn-color;

    &:after {
        content: $wt-cxn-icon;
    }
}


.wt-icon-semantictype {
    color: $wt-semantictype-color;

    &:after {
        content: $wt-semantictype-icon;
    }
}


.wt-icon-lexicon {
    color: $wt-lexicon-color;

    &:after {
        content: $wt-lexicon-icon;
    }
}


.wt-icon-lemma {
    color: $wt-lemma-color;

    &:after {
        content: $wt-lemma-icon;
    }
}


.wt-icon-lexeme {
    color: $wt-lexeme-color;

    &:after {
        content: $wt-lexeme-icon;
    }
}

.wt-icon-wordform {
    color: $wt-wordform-color;

    &:after {
        content: $wt-wordform-icon;
    }
}


.wt-icon-lu {
    color: $wt-lu-color;

    &:after {
        content: $wt-lu-icon;
    }
}


.wt-icon-corpus {
    color: $wt-corpus-color;

    &:after {
        content: $wt-corpus-icon;
    }
}


.wt-icon-document {
    color: $wt-document-color;

    &:after {
        content: $wt-document-icon;
    }
}


.wt-icon-sentence {
    color: $wt-sentence-color;

    &:after {
        content: $wt-sentence-icon;
    }
}


.wt-icon-annotation {
    color: $wt-annotation-color;

    &:after {
        content: $wt-annotation-icon;
    }
}


.wt-icon-annotation-static {
    color: $wt-annotation-static-color;

    &:after {
        content: $wt-annotation-static-icon;
    }
}


.wt-icon-annotation-static-frame-mode-1 {
    color: $wt-annotation-static-frame-mode-1-color;

    &:after {
        content: $wt-annotation-static-frame-mode-1-icon;
    }
}


.wt-icon-annotation-static-frame-mode-2 {
    color: $wt-annotation-static-frame-mode-2-color;

    &:after {
        content: $wt-annotation-static-frame-mode-2-icon;
    }
}


.wt-icon-annotation-dynamic {
    color: $wt-annotation-dynamic-color;

    &:after {
        content: $wt-annotation-dynamic-icon;
    }
}


.wt-icon-utils {
    color: $wt-utils-color;

    &:after {
        content: $wt-utils-icon;
    }
}


.wt-icon-qualia {
    color: $wt-qualia-color;

    &:after {
        content: $wt-qualia-icon;
    }
}


.wt-icon-qualia-agentive {
    color: $wt-qualia-agentive-color;

    &:after {
        content: $wt-qualia-agentive-icon;
    }
}


.wt-icon-qualia-constitutive {
    color: $wt-qualia-constitutive-color;

    &:after {
        content: $wt-qualia-constitutive-icon;
    }
}


.wt-icon-qualia-context {
    color: $wt-qualia-context-color;

    &:after {
        content: $wt-qualia-context-icon;
    }
}


.wt-icon-qualia-formal {
    color: $wt-qualia-formal-color;

    &:after {
        content: $wt-qualia-formal-icon;
    }
}


.wt-icon-qualia-telic {
    color: $wt-qualia-telic-color;

    &:after {
        content: $wt-qualia-telic-icon;
    }
}


.wt-icon-user {
    color: $wt-user-color;

    &:after {
        content: $wt-user-icon;
    }
}


.wt-icon-master {
    color: $wt-master-color;

    &:after {
        content: $wt-master-icon;
    }
}


.wt-icon-detail {
    color: $wt-detail-color;

    &:after {
        content: $wt-detail-icon;
    }

}

