.wt-icon-menu-admin:before {
    content: "admin_panel_settings";
}

.wt-icon-menu-structure:before {
    content: "account_tree";
}

.wt-icon-menu-annotation:before {
    content: "edit_note";
}

.wt-icon-menu-report:before {
    content: "summarize";
}

.wt-icon-menu-grapher:before {
    content: "hub";
}

.wt-icon-menu-dataset:before {
    content: "dataset";
}

.wt-icon-menu-translate:before {
    content: "translate";
}

.wt-icon-menu-groups:before {
    content: "groups";
}

.wt-icon-menu-person:before {
    content: "person";
}

.wt-icon-menu-signin:before {
    content: "login";
}


/*
    userData
 */

/*
.wt-icon-dataset:before {
    content: "dataset";
}

.wt-icon-translate:before {
    content: "translate";
}
.wt-icon-groups:before {
    content: "groups";
}
.wt-icon-person:before {
    content: "person";
}

.wt-icon-admin_panel_settings:before {
    content: "admin_panel_settings";
}

.wt-icon-account_tree:before {
    content: "account_tree";
}

.wt-icon-edit_note:before {
    content: "edit_note";
}

.wt-icon-summarize:before {
    content: "summarize";
}

.wt-icon-hub:before {
    content: "hub";
}

.wt-icon-edit:before {
    content: "edit";
}

.wt-icon-construction:before {
    content: "construction";
}

.wt-icon-users:before {
    content: "construction";
}
.wt-icon-domain:before {
    content: "construction";
}
.wt-icon-type:before {
    content: "construction";
}
.wt-icon-genre:before {
    content: "construction";
}
.wt-icon-relationgroup:before {
    content: "construction";
}
.wt-icon-relationtype:before {
    content: "construction";
}
.wt-icon-layergroup:before {
    content: "construction";
}
.wt-icon-layertype:before {
    content: "construction";
}
.wt-icon-menu-frame:before {
    content: "construction";
}
.wt-icon-menu-corpus:before {
    content: "construction";
}
.wt-icon-menu-cxn:before {
    content: "construction";
}
.wt-icon-menu-lemma:before {
    content: "construction";
}
.wt-icon-menu-qualia:before {
    content: "construction";
}
.wt-icon-menu-constraint:before {
    content: "construction";
}
.wt-icon-menu-concept:before {
    content: "construction";
}
.wt-icon-menu-semantictype:before {
    content: "construction";
}
.wt-icon-lexicalAnnotation:before {
    content: "construction";
}
.wt-icon-cxnAnnotation:before {
    content: "construction";
}
.wt-icon-corpusAnnotation:before {
    content: "edit_note";
}
.wt-icon-staticFrameMode1:before {
    content: "collections";
}
.wt-icon-staticFrameMode2:before {
    content: "collections";
}
.wt-icon-framereport:before {
    content: "construction";
}
.wt-icon-lureport:before {
    content: "construction";
}
.wt-icon-cxnreport:before {
    content: "construction";
}
.wt-icon-corpusreport:before {
    content: "construction";
}
.wt-icon-fullgrapher:before {
    content: "construction";
}
.wt-icon-domaingrapher:before {
    content: "construction";
}
.wt-icon-ccngrapher:before {
    content: "construction";
}
.wt-icon-utilimport:before {
    content: "construction";
}
.wt-icon-utilwflex:before {
    content: "construction";
}
.wt-icon-registerwflex:before {
    content: "construction";
}
.wt-icon-registerlemma:before {
    content: "construction";
}
.wt-icon-importfulltext:before {
    content: "construction";
}
.wt-icon-exportcxnfs:before {
    content: "construction";
}
.wt-icon-exportcxnjson:before {
    content: "construction";
}
*/
