.grid-page {
    .grid-section {
        margin-bottom: 1.5em;
        .section-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;

            .section-title {
                margin: 0 !important;
            }

            //.section-toggle {
            //    transition: all 0.3s ease;
            //}
        }
        .section-grid {
            padding-bottom: 1rem;
        }
    }
}
