<div id="formAddConceptElement">
    <div id="formAddConceptElementTools">
        <a href='#' name="formAddConceptElementClose" id="formAddConceptElementClose">
            Close
        </a>
        <a href='#' name="formAddConceptElementSave" id="formAddConceptElementSave">
            Save
        </a>
    </div>
    <input type="hidden" id="mweIdLU" name="mweIdLU" value=""/>
    <input type="hidden" id="mweIdSentence" name="mweIdSentence" value=""/>
    <form id="formAddConceptElementForm" method="post">
        <div class='mFormContainer'>
            <input type="hidden" name="concept_idConcept" id="concept_idConcept" value="5"/>
            <div class="mFormRow">
                <div class="mFormColumn"><label for="concept_idConceptElement" class="mFormLabel ">Name</label></div>
                <div class="mFormColumn"><input style="width:250px;" name="concept_idConceptElement" id="concept_idConceptElement"/></div>
            </div>
        </div>
    </form>
</div>