#annotationImagePaneTitle {
    width: 100%;
    height: 80px;
    background-color: #263238;
    text-align: center;
    color: white;
    padding: 8px;
}

#annotationImagePaneWest {
    padding: 8px;
}

#annotationImagePaneCenter {
    padding: 8px;
}

#annotationImagePaneEast {
    padding: 8px;
}

#annotationImagePaneSentence {
    margin-top: 8px;
}

#timePaneDiv {
    background-color: #f4f3ef;
}

.slider-h {
    margin-top: 6px;
}

#timePaneLeft {
    line-height: 32px;
}

#timePaneRight {
    line-height: 32px;
    padding-left: 8px;
}

#toolsPaneDiv {
    background-color: #f4f3ef;
    height: 32px;
}

#toolsPaneLeft {
    width: 300px;
}

#toolsPaneCenter {

}

#toolsPaneRight {
}

#toolsPaneRight > a {
    float: right;
}

#toolsPaneRight > span {
    float: right;
    line-height: 32px;
}


.faTool {
    font-size: 16px;
    color: black;
}

.faTool:hover {
    font-size: 16px;
    color: #263238;
}

#toolsPaneLeft l-btn {
    color: black;
}

#toolsPaneLeft > .l-btn-plain-selected, #toolsPaneLeft > .l-btn-plain-selected:hover {
    background-color: #f4f3ef;
}

#toolsPaneLeft > .l-btn-selected, #toolsPaneLeft > .l-btn-selected:hover {
    background-color: #f4f3ef;
}

#annotatedSentence {
    padding-bottom:8px;
    border-bottom: 1px solid #428bca;
}

#phraseAnnotation {
    padding-bottom:8px;
    border-bottom: 1px solid #428bca;
}

.annotatedWord {
    margin-right: 6px;
    font-size: 1.75rem;
    font-weight: 600;
    cursor: pointer;
}

.currentPhrase {
    margin-right: 6px;
    font-size: 1.75rem;
    font-weight: 600;
    cursor: pointer;
}

.actualPhrase {
    padding-left:8px;
    padding-right:8px;
    border: 1px solid #428bca;
}

#objectPane {

}

#image {
    position: relative;
}

.bbox {
    border: 1px solid #D3D3D3;
    position: absolute;
    z-index: 3;
}

.bboxhighlight {
    opacity: 1 !important;
}

.handle, .ui-resizable-handle {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #D3D3D3;
    background-color: rgba(255, 255, 0, .05);
    position: absolute;
}

.center-drag {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: move;
}

.objectId {
    width: 20px;
    height: 14px;
    background-color: white;
    right: 0;
    top: 0;
    position: absolute;
    color: black;
    cursor: pointer;
    padding-left: 2px;
    font-size: 10px;
    text-align:right;
}

.ui-button {
    margin-right: 5px;
}

.ui-resizable-n {
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: n-resize;
}

.ui-resizable-s {
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 50%);
    cursor: s-resize;
}

.ui-resizable-w {
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: w-resize;
}

.ui-resizable-e {
    right: 0%;
    top: 50%;
    transform: translate(50%, -50%);
    cursor: e-resize;
}

.notify__title {
    font-size: 2rem;
}

.notify__text {
    font-size: 1.75rem;
}