<div id="myholder" style="border:1px solid #CCC"></div>
<script type="text/javascript">
    $(function () {

console.log('1');

        var graph = new joint.dia.Graph;
console.log(2);

        var paper = new joint.dia.Paper({
            el: $('#myholder'),
            model: graph,
            gridSize: 1
        });
console.log(3);

        var rect = new joint.shapes.basic.Rect({
            position: {x: 100, y: 30},
            size: {width: 100, height: 30},
            attrs: {rect: {fill: 'blue'}, text: {text: 'my box', fill: 'white'}}
        });
console.log(4);

        var rect2 = rect.clone();
        rect2.translate(300);
console.log(5);

        var link = new joint.dia.Link({
            source: {id: rect.id},
            target: {id: rect2.id}
        });
console.log(6);

        graph.addCells([rect, rect2, link]);
console.log(7);

    });
</script>
