/******************************************************************************
 * Icons and Images
 ******************************************************************************/

.fnbrIconForm {
    width:16px;
    height:16px;
    background: url(../images/16x16/form.png) no-repeat center center;
}

.fnbrIconRefresh {
    width:32px;
    height:32px;
    background-image: url(../images/copa/btn_refresh.png);
    position:absolute;
    left: 50%;
    margin-left: -70px;
    top: 32px;
    z-index: 999;
}

.fnbrIconReturn {
    width:32px;
    height:32px;
    background-image: url(../images/copa/btn_return.png);
    position:absolute;
    left: 50%;
    margin-left: 23px;
    top: 32px;
    z-index: 999;
}

.fnbrFlag-- {
    width:16px;
    height:16px;
    background: url(../images/00.png) no-repeat center center;
}

/*
.fnbrFlagPt {
    width:16px;
    height:16px;
    background: url(../images/br.png) no-repeat center center;
}

.fnbrFlagEn {
    width:16px;
    height:16px;
    background: url(../images/en.png) no-repeat center center;
}

.fnbrFlagFr {
    width:16px;
    height:16px;
    background: url(../images/fr.png) no-repeat center center;
}

.fnbrFlagEs {
    width:16px;
    height:16px;
    background: url(../images/es.png) no-repeat center center;
}

.fnbrFlagIt {
    width:16px;
    height:16px;
    background: url(../images/it.png) no-repeat center center;
}
.fnbrFlagSe {
    width:16px;
    height:16px;
    background: url(../images/se.png) no-repeat center center;
}
.fnbrFlagLt {
    width:16px;
    height:16px;
    background: url(../images/lt.png) no-repeat center center;
}
.fnbrFlagJp {
    width:16px;
    height:16px;
    background: url(../images/jp.png) no-repeat center center;
}
.fnbrFlagDe {
    width:16px;
    height:16px;
    background: url(../images/de.png) no-repeat center center;
}
.fnbrFlagIw {
    width:16px;
    height:16px;
    background: url(../images/iw.png) no-repeat center center;
}
.fnbrFlagZh {
    width:16px;
    height:16px;
    background: url(../images/zh.png) no-repeat center center;
}
.fnbrFlagRu {
    width:16px;
    height:16px;
    background: url(../images/ru.png) no-repeat center center;
}
.fnbrFlagKo {
    width:16px;
    height:16px;
    background: url(../images/ko.png) no-repeat center center;
}
.fnbrFlagAr {
    width:16px;
    height:16px;
    background: url(../images/ar.png) no-repeat center center;
}
.fnbrFlagSq {
    width:16px;
    height:16px;
    background: url(../images/sq.png) no-repeat center center;
}
.fnbrFlagFi {
    width:16px;
    height:16px;
    background: url(../images/fi.png) no-repeat center center;
}

.fnbrFlagHi {
    width:16px;
    height:16px;
    background: url(../images/hi.png) no-repeat center center;
}

.fnbrFlagUr {
    width:16px;
    height:16px;
    background: url(../images/ur.png) no-repeat center center;
}

.fnbrFlagEl {
    width:16px;
    height:16px;
    background: url(../images/el.png) no-repeat center center;
}

.fnbrFlagTe {
    width:16px;
    height:16px;
    background: url(../images/hi.png) no-repeat center center;
}

.fnbrFlagKn {
    width:16px;
    height:16px;
    background: url(../images/hi.png) no-repeat center center;
}
*/


.fnbrFlagPt {
    width:16px;
    height:16px;
    background: url(../images/pt.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagEn {
    width:16px;
    height:16px;
    background: url(../images/en.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagFr {
    width:16px;
    height:16px;
    background: url(../images/fr.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagEs {
    width:16px;
    height:16px;
    background: url(../images/es.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagIt {
    width:16px;
    height:16px;
    background: url(../images/it.svg) no-repeat center center;
    background-size: 16px 16px;
    background-size: 16px 16px;
}
.fnbrFlagSe {
    width:16px;
    height:16px;
    background: url(../images/se.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagLt {
    width:16px;
    height:16px;
    background: url(../images/lt.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagJp {
    width:16px;
    height:16px;
    background: url(../images/jp.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagDe {
    width:16px;
    height:16px;
    background: url(../images/de.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagIw {
    width:16px;
    height:16px;
    background: url(../images/iw.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagZh {
    width:16px;
    height:16px;
    background: url(../images/zh.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagRu {
    width:16px;
    height:16px;
    background: url(../images/ru.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagKo {
    width:16px;
    height:16px;
    background: url(../images/ko.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagAr {
    width:16px;
    height:16px;
    background: url(../images/ar.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagSq {
    width:16px;
    height:16px;
    background: url(../images/sq.svg) no-repeat center center;
    background-size: 16px 16px;
}
.fnbrFlagFi {
    width:16px;
    height:16px;
    background: url(../images/fi.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagHi {
    width:16px;
    height:16px;
    background: url(../images/hi.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagUr {
    width:16px;
    height:16px;
    background: url(../images/ur.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagEl {
    width:16px;
    height:16px;
    background: url(../images/el.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagTe {
    width:16px;
    height:16px;
    background: url(../images/te.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagKn {
    width:16px;
    height:16px;
    background: url(../images/kn.svg) no-repeat center center;
    background-size: 16px 16px;
}

.fnbrFlagHr {
    width:16px;
    height:16px;
    background: url(../images/hr.svg) no-repeat center center;
    background-size: 16px 16px;
}
