/*
Arquivo: controls/mmenu.css
Autor: Maestro
Descrição: 
    Estilos do controle MMenu.
Version: 2.0
Licença: GNU General Public License
Licença URI: license.txt
*/

.mMenuButton {
	margin-right: 10px;
}
